# Byte‑compiled Python
__pycache__/
*.py[cod]

# Shell swap files
*~

# Logs
*.log

# OS cruft
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Environment files
*.env

# Build artifacts
*.tar
*.img
